{erl_opts, [debug_info,
            warnings_as_errors,
            {require_min_otp_vsn, 26}]}.

{shell_apps, [sasl]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{deps, []}.

{plugins, []}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns
    ]}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, {require_min_otp_vsn, 26}, {i, "include"}, nowarn_export_all]},
        {deps, [proper]}
    ]},

    %% Exclude disabled test files from eunit
    {eunit, [
        {skip_apps, []}
    ]}
]}.
